<div class="sidebar">

  <img style="align-content: center" src="../assets/img/cuentos-clasicos.jpg">
  <br>
    <div style="text-align: center;color:#020000; font-size: 20px"><b>Bienvenido a Erase una vez una plataforma de cuentos........</b></div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Publica tu cuento</button>
    </div>
    <div style="text-align: center">
        <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Añade una categoria</button>
    </div>
</div>
